
 body{
    margin: 0;
} 
.parent{
    width: 500px;
    height: 500px;
    background-color: gray;  
    position: absolute;     /*every element has top left side position by default */
    right: 0;
    margin-bottom:5px;   
    z-index: 2;
}
/* absolute position */
.parent2{
    width: 500px;
    height: 500px;
    background-color: brown;
    top: 500px;  
    z-index:1;    /* defines priority */
    position: absolute;
}

   